<div class="text-center">
    <h1 class="display-3 text-primary">Acceso denegado</h1>
    <p class="text-secondary">Lo siento, no tienes permiso para acceder a ésta página.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Volver al inicio</a>
</div>